<div class="game__results">
    <div class="game__results-correct"></div>
    <div class="game__results-wrong"></div>
    <div class="game__results-actual">Ans:
        <span class="game__results-actual-chord">Am</span>
    </div>
</div>