<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/navbar.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.14/howler.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/public/js/sounds.js"></script>
</head>

<body>
    <div class="nav-bar">
        <div class="nav-bar__dropdown">
            <div class="nav-bar__dropdown-button"></div>
            <span></span>
            <div class="nav-bar__dropdown-content">
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage1">1</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage2">2</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage3">3</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage4">4</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage5">5</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage6">6</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage7">7</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage8">8</a>
                </div>
                <div class="nav-bar__dropdown-stage">
                    <a href="/stage9">9</a>
                </div>
            </div>

        </div>
        <div class="nav-bar__plus-mode nav-bar__right">Plus Mode</div>
        <div class="nav-bar__scr-mode nav-bar__selected nav-bar__right">Single Chord</div>
        <div class="nav-bar__cpr-mode nav-bar__right">Chord Proressions</div>
    </div>