<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guitar App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.14/howler.min.js"></script>
    <script src="/public/sounds.js"></script>

</head>

<body>
    <button id="a">A</button>
    <button id="d">D</button>
    <button id="e">E</button>

    <button id="listen">Listen again</button>
    <button id="newgame">Another Chord</button>
    <p id="result" style="height: 20px; border: 1px solid black"></p>
    <div class="past">

    </div>

    <!-- <script> -->
    <!-- // var sounds = JSON.parse(); -->
    <!-- // console.log(sounds); -->
    <!-- </script>  -->
    <!-- <script>
        sounds['a'].sound.play();
    </script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/public/guessing.js"></script>

</body>

</html>