<% include ../partials/header %>

    <div class="game__status">
        <i class="game__status-replay_icon"></i>
        <div class="game__status-progress"></div>
        <i class="game__status-next_icon"></i>
    </div>
    </div>
    <div class="game__guess">
        <div class="game__guess-buttons plus-chord ">A</div>
        <div class="game__guess-buttons ">Am</div>
        <div class="game__guess-buttons plus-chord ">D</div>
        <div class="game__guess-buttons ">Dm</div>
        <div class="game__guess-buttons plus-chord ">E</div>
        <div class="game__guess-buttons ">Em</div>
    </div>


    <div class="past ">

    </div>

    <script src="/public/js/stages/stage2.js "></script>

    <% include ../partials/footer %>