<% include ../partials/header %>

    <button href="/">Back</button>

    <button class="game__guess-buttons plus-chord">A</button>
    <button class="game__guess-buttons plus-chord">D</button>
    <button class="game__guess-buttons plus-chord">E</button>
    <button class="game__guess-buttons">Am</button>
    <button class="game__guess-buttons">Dm</button>
    <button class="game__guess-buttons">Em</button>


    <button id="listen">Listen again</button>
    <button id="newgame">Another Chord</button>
    <p id="result" style="height: 20px; border: 1px solid black"></p>
    <div class="past">

    </div>

    <script src="/public/js/stages/stage2.js"></script>
    <script src="/public/js/game.js"></script>

    <% include ../partials/footer %>