<% include ../partials/header %>

    <button href="/">Back</button>

    <button class="game__guess-buttons">A</button>
    <button class="game__guess-buttons">D</button>
    <button class="game__guess-buttons">E</button>

    <button id="listen">Listen again</button>
    <button class="newgame">Another Chord</button>
    <button class="game__guess-change" style="float:right;">Switch Mode</button>
    <p id="result" style="height: 20px; border: 1px solid black"></p>
    <div class="past">

    </div>

    <script src="/public/js/stages/stage1.js"></script>

    <% include ../partials/footer %>