/* BASE SETUP */

html {
  box-sizing: border-box;
  background: radial-gradient(circle at 75% 75%, #fdfaf7, #ffffff);
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* smoother rendering of fonts */
}
body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
.game__status {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 600px;
  height: 100px;
}
.game__status-replay_icon {
  /* display: inline-block; */
  flex: 1;
  cursor: pointer;
  height: 100%;
  width: 40px;
  background: url(../images/replay.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.game__status-next_icon {
  /* display: inline-block; */
  flex: 1;
  cursor: pointer;
  height: 100%;
  width: 40px;
  background: url(../images/next.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.game__status-progress {
  flex: 5;
  vertical-align: top;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  width: 400px;
  word-spacing: 7px;
  height: 100%;
  border: 1px solid black;
}
.game__guess {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: 0 auto;
  margin-top: 40px;
}
.game__guess-buttons {
  flex-basis: 31%;
  cursor: pointer;
  height: 65px;
  line-height: 65px;
  color: #00422b;
  background: #e8f3f5;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
}
.game__guess-buttons:hover {
  box-shadow: 0 0 5px rgba(0, 66, 43, 1.2);
}

<<<<<<< HEAD
.game__guess > .plus-chord{
  display: none;
}

=======
>>>>>>> 62f14a8466261301942b8979bf20c8d082f9aff9
.game__results {
  margin: 30px auto;
  width: 200px;
  display: flex; /* border: 1px solid black; */
  flex-wrap: wrap;
}
.game__results-correct {
  flex: 1 1 50%;
  height: 120px;
  background: url("../images/check-symbol.svg");
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
}
.game__results-wrong {
  flex: 1 1 50%;
  height: 120px;
  background: url("../images/close.svg");
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.game__results-actual {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center;
}
.game__past {
  position: fixed;
  /* vertical-align: top; */
  top: 50vh;
}

.game__past-modal {
  width: 105px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  padding-left: 5px;
}

.game__past-modal > * {
  display: inline-block;
}

.game__past-modal-tick {
  /* display: inline-block; */
  /* margin-left: 5px; */
  vertical-align: top;
  width: 30px;
  height: 100%;
  background: url("../images/check-symbol.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.game__past-cross {
  /* display: inline-block; */
  height: 100%;
  vertical-align: top;
  width: 30px;
  background: url("../images/close.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.game__past-correct-count {
  /* display: inline-block; */
  /* vertical-align: top; */
  height: 30px;
}

.game__past-count {
  /* display: inline-block; */
  /* vertical-align: top; */
  height: 30px;
}

.game__past-details {
  border: 1px solid black;
  line-height: 30px;
  font-size: 15px;
}

.game__past-details-correct,
.game__past-details-wrong {
  height: 30px;
}
.game__past-details-correct > *,
.game__past-details-wrong > * {
  display: inline-block;
}

.game__past-details-count {
  display: inline-block;
  margin-left: 10px;
}

.game__past-details-tick {
  vertical-align: top;
  width: 17px;
  height: 100%;
  background: url("../images/check-symbol.svg");
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;
}

.game__past-details-cross {
  vertical-align: top;
  width: 15px;
  height: 100%;
  background: url("../images/close.svg");
  background-size: 12.75px;
  background-position: center;
  background-repeat: no-repeat;
}
