:root {
  --dropdown-width: 120px;
  --nav-bar-height: 50px;
  --dropdown-height: calc((5/5)*var(--nav-bar-height));
}

.nav-bar {
  padding: 0 80px;
  position: relative;
  border-top: 1px solid #00422b;
  background-color: #e8f3f5;
}
.nav-bar * {
  display: inline-block;
  /* position: relative; */
  z-index: 5;
  /* height: var(--nav-bar-height); */
  color: #00422ba0;
  font-family: "Montserrat", sans-serif; /* Consider stardos pencil */
  font-weight: 500;
}

.nav-bar__right {
  float: right;
  cursor: pointer;
  line-height: var(--nav-bar-height);
  margin: 0 10px;
}

.nav-bar__logo {
  /* height: 50px;
  width: 50px; */
  display: inline-block;
  /* border-radius: 5px; */
  line-height: var(--nav-bar-height);

  background-image: url("../images/guitar.svg");
  background-size: 30px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}

.nav-bar__dropdown-button {
  /* max-height: var(--nav-bar-height); */
  line-height: var(--nav-bar-height);
  width: var(--dropdown-width);
  text-align: center;
  cursor: pointer;
}

.nav-bar__dropdown-button:hover{
  color: #00422b;
  background: #c8dde0;
}

.nav-bar__dropdown-content {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  width: var(--dropdown-width);
}
.nav-bar__dropdown-stage {
  display: inline-block;
  height: var(--dropdown-height);
  line-height: var(--dropdown-height);
  font-size: calc(var(--dropdown-height)/3);

  flex-basis: 100%;
  width: inherit;
  background: #e8f3f5;
  border: 1px solid white;
  
  /* padding-left: 10px; */
  text-align: center;
}
.nav-bar__dropdown-stage:hover {
  background: #c8dde0;
}

.nav-bar__dropdown-stage a {
  color: #061161;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-bar__selected {
  border-bottom: 1.5px solid #00422b;
  color: #00422b;
}

.nav-bar__right:hover {
  color: #00422b;
}
