:root {
  --drop-down-width: 420px;
  --nav-bar-height: 50px;
}

.nav-bar {
  padding: 0 80px;
  border-top: 1px solid #00422b;
  background-color: #fcf7ff;
}
.nav-bar * {
  display: inline-block;
  position: relative;
  height: var(--nav-bar-height);
  color: #00422b74;
  /* height: 70px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  font-family: "Montserrat", sans-serif; /* Consider stardos pencil */
  font-weight: 500;
}

.nav-bar__right {
  float: right;
  cursor: pointer;
  line-height: var(--nav-bar-height);
  margin: 0 10px;
}

.nav-bar__dropdown-button {
  max-height: var(--nav-bar-height);
  width: var(--nav-bar-height);
  /* padding: 10px; */
  border-radius: 5px;

  /* background: #061161; fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206); */
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: url("../images/guitar.svg");
  background-size: 53px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  /* linear-gradient(to right, #061161, #780206);  */
}

.nav-bar__dropdown-content {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  width: var(--drop-down-width);
}
.nav-bar__dropdown-stage {
  display: inline-block;
  height: calc(var(--drop-down-width) / 3);
  flex-basis: 33%;
  background: #d7e5e8;
  border: 1px solid white;
  /* padding: 10px; */
  text-align: center;
  line-height: calc(var(--drop-down-width) / 3);
  font-size: 55px;
}
.nav-bar__dropdown-menu:hover .nav-bar__dropdown-content {
  display: flex;
}

.nav-bar__dropdown-stage a {
  color: #061161;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-bar__selected {
  border-bottom: 1.5px solid #00422b;
  color: #00422b;
}

.nav-bar__right:hover {
  color: #00422b;
}
