<% include ../../partials/header %>

    <button href="/">Back</button>

    <button class="game__guess-buttons">A</button>
    <button class="game__guess-buttons">D</button>
    <button class="game__guess-buttons">E</button>

    <button id="listen">Listen again</button>
    <button id="newgame">Another progressions</button>
    <p id="result" style="height: 20px; border: 1px solid black"></p>
    <div class="past">

    </div>

    <!-- <script> -->
    <!-- // var sounds = JSON.parse(); -->
    <!-- // console.log(sounds); -->
    <!-- </script>  -->
    <!-- <script>
        sounds['a'].sound.play();
    </script> -->

    <script src="/public/js/stages/stage1.js"></script>
    <script src="/public/js/chordProgression.js"></script>

    <% include ../../partials/footer %>